<a href="{{ instance.file_src.url }}"
    {% if instance.link_target %} target="{{ instance.link_target }}"{% endif %}
    {% if instance.link_title %} title="{{ instance.link_title }}"{% endif %}
    {{ instance.attributes_str }} data-event-type="event" data-event-category="File" data-event-action="Download" data-event-label="{{ instance.file_src }}">
    {% if instance.name %}
        {{ instance.name }}
    {% else %}
        {{ instance.file_src.label }}
    {% endif %}
    {% if instance.show_file_size %}
        <span>{{ instance.file_src.size|filesizeformat }}</span>
    {% endif %}
</a>
    {% if instance.show_terms %}
        <div>{{ instance.terms|default:default_terms }}</div>
    {% endif %}
